<p>Dear <%= @resource.full_name%>,</p>

<p>Congratulations on embarking on this journey to get our struggling students to be successful readers.</p>

<p>To ensure each child is well supported, we need to track their progress. We're happy to share with you this platform to make recording and tracking their results easy for you.</p>

<p>Please go to <%= link_to('this link', accept_facilitator_invitation_url(invitation_token: @token)) %> to register yourself and your class. This invitation will expire on <%= l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format') %>.</p>

<p>Thank you.</p>

<p>From,<br/>
  The MYReaders Team<br/>
  <%= link_to('MYReaders Platform', root_url) %>
</p>

<p>'One day, every child will be able to read.'</p>
