.link-btn {
  background-color: $darker-blue;
  border: none;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  font-size: 0.9em;
  text-decoration: none;
  height: 2.2em;
}

.clickable-link {
  color: $grey;
}

.clickable-link:hover {
  color: blue;
}