.diagnostic-form-container {
  background-color: white;
  width: 900px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .15);

  .select-current-diagnostic-text {
    margin: 0 0 10px 0;
    font-size: 1em;
  }

  .radio-btn-container {
    display: flex;
    justify-content: space-between;


    .radio-btn-input {
      width: 25%;
      display: flex;
      align-content: center;

      input {
        height: 2em;
        width: 2em;
        margin: 0 0 0 20px;
      }

      .radio-label-container {
        display: flex;
        align-items: center;

        label {
          font-size: 1em;
        }
      }

    }
  }

  .row-container {
    display: flex;

    .diagnostic-form-group {
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      width: 16%;
      text-align: center;

      .diagnostic-form-input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1em;
        margin-top: 5px;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        height: 36px;
      }
    }

  }

  .bottom-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .adjacent-container {
      width: 30%;
      margin-left: 10px;
      margin-right: 10px;

      a {
        font-size: 1em;
      }
    }

    .left-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .right-container {
      display: flex;
      align-items: center;
    }
  }

  .submit-button-container {
    border-top: 1px solid $light-grey;
    margin-top: 15px;

    .submit-new-diagnostic {
      width: 100%;
    }
  }
}

.diagnostic-form-radio-btn-container {
  margin-top: 0;
  margin-bottom: 0;
}
