.flash-container {
  color: white;
  display: inline-block;
  margin: 10px auto 0 auto;

  p {
    padding: 5px;
    margin: 0;
  }
}

.flash-success {
  background-color: green;
}

.flash-alert {
  background-color: red;
}
