.form-container {
  background-color: white;
  width: 480px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.15);

  .adjacent-form-group-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;

    .form-group {
      width: 50%;
    }

    .left-form-group {
      padding-right: 8px;
    }

    .right-form-group {
      padding-left: 8px;
    }
  }

  .form-group {
    margin: 10px 0 0 0;

    .form-input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1em;
      margin-top: 5px;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      height: 36px;
    }

    .form-check-label {
      padding-left: 0.4rem;
    }

    .form-submit-button {
      background-color: $darker-blue;
      border: none;
      color: white;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 0.9em;
      height: 36px;
      width: 100%;
    }
  }

  .form-link {
    display: block;
    padding-top: 5px;
  }
}

