.label-container {
  border: 1px solid black;
  //border-radius: 5px;
  display: inline-block;

  p {
    line-height: 0;
    font-size: 0.85em;
    font-weight: bold;
  }

  .label-legend {
    background-color: $grey;
    color: white;
    padding: 5px 12px;
    display: inline-block;
  }

  .label-content {
    font-weight: bold;
    padding: 5px 12px;
    display: inline-block;
  }

}